
# Ignore all prediction results
**/Prediction_results/

# Ignore all TPR_GAPS, FPR_GAPS, AUC_GAPS,FPR
**/TPR_GAPS/
**/FPR_GAPS/
**/AUC_GAPS/
# **/FPR/

# Ignore all extracted embeddings and dataset folders
**/Extracted_Embeddings/
**/DataSet/

# Ignore all __pycache__ directories
**/__pycache__/

# Ignore all dataframes folders
**/dataframes/

# Ignore specific parent folders if needed
**/predictions/

**/biomedclip-embedding/

**/Baseline_FPR/
**/CXR_Foundation/
**/CXR_FPR/

**/CheXpert/dataframes/

**/CheXpert/df_*.csv

**/MIMIC/df_*_for_metadata_prediction.csv

**/MIMIC/processed_mimic_df.csv






